/* Poppins from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Tailwind's base styles, component classes, and utility classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

/* Episodes List smooth animation */
@keyframes slideUpAnimationList {
  0% {
    transform: translate3d(0, 100px, 0) scale3d(0.9, 0.9, 1);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

.list-animation {
  animation: slideUpAnimationList 1s cubic-bezier(0.33, 0.54, 0, 0.95);
}

.list-animation:nth-of-type(1) {
  animation-duration: 1s;
}
.list-animation:nth-of-type(2) {
  animation-duration: 1.256s;
}
.list-animation:nth-of-type(3) {
  animation-duration: 1.384s;
}
.list-animation:nth-of-type(4) {
  animation-duration: 1.448s;
}
.list-animation:nth-of-type(4) {
  animation-duration: 1.48s;
}
.list-animation:nth-of-type(5) {
  animation-duration: 1.496s;
}
.list-animation:nth-of-type(6) {
  animation-duration: 1.5s;
}
.list-animation:nth-of-type(7) {
  animation-duration: 1.5s;
}
.list-animation:nth-of-type(8) {
  animation-duration: 1.5s;
}
.list-animation:nth-of-type(9) {
  animation-duration: 1.5s;
}
.list-animation:nth-of-type(10) {
  animation-duration: 1.5s;
}
